* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 11px;
    min-height: 0;
}

/* window#waybar { */
/*     background: rgba(21, 18, 27, 0); */
/*     color: #f6f7fc; */
/* } */

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 1px;
    color: #f6f7fc;
    margin-right: 5px;
}

#workspaces button.active {
    color: #000000;
    background: #a6e3a1;
    border-radius: 5px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 5px;
}

#custom-lock_screen,
#custom-power_btn,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#workspaces,
#idle_inhibitor
{
    background: rgba(21, 18, 27, 0);
    opacity: 1;
    padding: 0px 4px;
    margin: 0px 3px;
    border: 0px;
}


#workspaces {
    padding-right: 0px;
    padding-left: 2px;
}

#window {
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

#pulseaudio {
  margin-right: 8px;
}
